.profile_container
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 72px;
	right: 256px;
	z-index: 5;
	color: #333;
	background: url(../images/white_trans_bg.png) repeat;
}
#profile_closer
{
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
}
.profile_container .leftside
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 150px;
	padding: 5px;
	text-align: center;
	border-right: 1px solid #333;
}
.profile_username
{
	font-weight: bold;
}
.profile_container .leftside .profile_avatar
{
	max-width: 140px;
	max-height: 200px;
	margin: 5px 0;
}
.profile_container .rightside
{
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
	bottom: 0;
	right: 0;
	padding: 1%;
}
.profile_container .rightside div
{
	padding: 10px 5px;
	color: #777;
	border-bottom: 1px dashed #333;
}
.profile_container .rightside div strong
{
	color: #333;
}
.profile_container .rightside input
{
	display: inline-block;
	background: url(../images/transbg.png) repeat;
	color: #fff;
	padding: 5px;
	font-size: 1.02em;

	border: 1px solid #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}